{% extends "routes/layout.html" %}

{% block 'content' %}
    <h2>Route {{route.title}}</h2>
    <div id="routeApp">
        <form class="selectors">
            <div class="row">
                <div class="medium-5 columns">
                    <label>
                        Direction
                        <select v-model="direction" v-on:change="updateStops">
                            <option selected="selected">-- Select a direction --</option>
                            {% for direction in route.directions.all %}
                                <option value="{{direction.id}}">{{direction.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="medium-5 columns">
                    <label>
                        Stop
                        {% verbatim %}
                        <select>
                            <option>-- Select a stop --</option>
                            <option v-for="stop in stops" v-bind:value="stop.id">
                                {{ stop.title }}
                            </option>
                        </select>
                        {% endverbatim %}
                    </label>
                </div>
                <div class="medium-2 columns">
                </div>
            </div>
            <div class="row">
                <div class="medium-5 columns">
                    <label>
                        Date from:
                        <input type="text" id="datetime-from" v-datepicker="dateTimeFrom" />
                    </label>
                </div>
                <div class="medium-5 columns">
                    <label>
                        Date to:
                        <input type="text" id="datetime-to" v-datepicker="dateTimeTo" />
                    </label>
                </div>
                <div class="medium-2 columns">
                    <button type="button" class="button" v-on:click="updateChart">Update</button>
                </div>
            </div>
        </form>

        {% verbatim %}
            <pre>{{ $data | json }}</pre>
        {% endverbatim %}

         <canvas id="routeChart" width="850" height="350"></canvas>
    </div>
{% endblock %}

{% block 'additional_js' %}
    <script type="text/javascript">
        var url_get_stops_from_direction = '{% url 'get_stops_from_direction' %}';
        var url_get_chart = '{% url 'get_chart' %}';
    </script>
{% endblock %}
